.temporadaCitrico{
    margin: 20px;
}

.bg-verde{
    background-color: rgb(223, 243, 152);
}

.titulo1{
    margin: 20px;
}

.parrafo{
    margin: 10px;
}
.presupuesto{
    margin: 30px;
    color: red;
}
